:root{
    --better-white: #f8f8ff;
    --better-black: #333;
}

.mycontainer {
    width: 100vw;
    height: 100vh;

    font-size: 22px;
    font-weight: 400;

    display: grid;

    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr;

    padding: 10px;
    gap: 10px;

    background-color: var(--better-white);
    color: #fff;
}

.mycontainer div {
    padding: 10px;
    border-radius: 12px;
}

.topbar {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #333;
    padding-left: 0px;
}

.topbar i {
    border-radius: 12px;
    min-width: 27px;
    padding:3px 5px;
}

.topbar i:hover {
    background: #fff;
    color: #333;
    transition: all 0.4s ease;
}

.sidenav {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--bs-secondary);
    background-color: #333;
}

.nav-list{
    list-style-type: none;
    padding-left: 0px;
}

.nav-list li {
    border-radius: 10px;
    cursor: default;
}

.nav-list li:hover {
    background: #fff;
    color: #333;
    transition: all 0.4s ease;
}

.nav-list li i {
    margin-left: 10px;
}

.outlet {
    color: #000;
}