

.mycontainer {
    width: 100vw;
    height: 100vh;

    font-size: 22px;
    font-weight: 400;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;

    padding: 10px;
    gap: 10px;

    background-color: #f8f8ff;
    color: #fff;
}

.mycontainer div {
    padding: 10px;
    border-radius: 5px;
}

.topbar {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--bs-primary);
    padding-left: 0px;
}

.topbar i {
    border-radius: 5px;
    min-width: 27px;
    padding:3px 5px;
}

.outlet {
    color: #000;
}