<h1>TeamViewer IDs</h1>

<p>Uploaded from imaged computers, update in <a target="_blank" href='https://inventory.optumserve.com/Search.aspx'>HW inventory</a>.</p>

<div class="btnholder">
    <button class="btn btn-danger" (click)="massDelete()">Delete Selected</button>
</div>

<input class="form-control" placeholder="Filter by Username" [(ngModel)]="filter" id="filter-input">

<p *ngIf="teamViewers == null"><em>Loading...</em></p>

<ng-container *ngIf="teamViewers != null">
    <table class="table table-striped table-hover" id="tvTable">
        <thead>
            <tr>
                <th>Hostname</th>
                <th>Asset Tag</th>
                <th>TeamViewer ID</th>
                <th>Fogged By</th>
                <th class="tdcenter">Delete</th>
            </tr>
        </thead>
        <tbody #tablecontainer>
            <ng-container *ngFor="let teamViewer of teamViewers">
                <tr *ngIf="filter == teamViewer.userName.substring(0, filter.length)">
                    <td>{{teamViewer.hostName}}</td>
                    <td>
                        LHI{{teamViewer.hostName.substring(3)}}
                        <button class="btn btn-secondary" (click)="copy('LHI' + teamViewer.hostName.substring(3))">
                            <i class="bi bi-clipboard"></i>
                        </button>
                        <a *ngIf="teamViewer.hwid != null" href="https://inventory.optumserve.com/AssetDetail.aspx?AssetId={{teamViewer.hwid}}" target="_blank">
                            <button class="btn btn-secondary">
                                Open In HWI
                            </button>
                        </a>
                        <button *ngIf="teamViewer.hwid != null" class="btn btn-secondary" title="Copy TVID to clipboard, open in HWI, select for deletion." (click)="aio(teamViewer)">
                            All In One
                        </button>
                    </td>
                    <td>{{teamViewer.teamViewerID}} <button class="btn btn-secondary" (click)="copy(teamViewer.teamViewerID)"><i class="bi bi-clipboard"></i></button></td>
                    <td>
                        {{teamViewer.userName}}
                    </td>
                    <td class="tdcenter">
                        <input type="checkbox" class="form-check-input" id="check-delete-{{teamViewer.hostName}}">
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <!-- <h3 *ngIf="tablecontainer.childElementCount == 0">Theres nothing here.</h3> -->
</ng-container>